
#contenedorProfesionales{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.buscador {
    display: flex;
    margin-bottom: 10px;

}

.btnBuscar {
    display: flex;
}

.profesional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 350px;
    border: 1px solid red;
}

.profesional img {
    width: 150px;
    

}

.profesional p {
    text-align: center;
    font-size: 12px;
}

#buscador {
    width: 300px;
}

.btn-horario {
    margin: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-horario.seleccionado {
    background-color: red;
    color: white;
    border: 1px solid #900;
}

